#fleetStats {
	table-layout: fixed;
}

#fleetStats td {
	overflow: hidden;
	text-align: center;
}

#fleetSelect {
	table-layout: fixed;
}

#fleetSelect td {
	align-items: center;
}

table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}

.hasAACI {
	color: green;
}

.noAACI {
	color: red;
}

.hasOASW {
	color: green;
}

.noOASW {
	color: red;
}

.hasSpotting {
	color: green;
}

.noSpotting {
	color: red;
}
