#fleetStats {
	table-layout: fixed;
}

#fleetStats td {
	overflow: hidden;
	text-align: center;
}

#fleetSelect {
	table-layout: fixed;
}

#fleetSelect td {
	align-items: center;
}

table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}

.hasAACI {
	color: green;
}

.noAACI {
	color: red;
}

.hasOASW {
	color: green;
}

.noOASW {
	color: red;
}

.hasSpotting {
	color: green;
}

.noSpotting {
	color: red;
}

.infoView {
	position: relative;
	top: 10px;
}

.sectionTabs {
}

.tabbedInfoSection {
	position: relative;
	top: 5px;
}

.secTab {
	display: inline;

	border-width: 1px;
	border-radius: 5px;
	border-style: solid;

	padding-left: 5px;
	padding-right: 5px;
}

.secTab:hover, .selectedSecTab {
	display: inline;

	border-width: 1px;
	border-radius: 5px;
	border-style: solid;

	padding-left: 5px;
	padding-right: 5px;

	background-color: yellow;
}

.infoSection {
	display: none;
}
